<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link rel="stylesheet" href="/css/style.css">
    
  
</head>
<body>
    <div class="container">
        <h1>Add Employee</h1>
        <form action="/employees/add" method="post">
            <label for="firstName">First Name:</label><br>
            <input type="text" id="firstName" name="firstName"><br>
            
            <label for="lastName">Last Name:</label><br>
            <input type="text" id="lastName" name="lastName"><br>
            
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            
            <label for="department">Department:</label><br>
            <input type="text" id="department" name="department"><br>
            
            <label for="salary">Salary:</label><br>
            <input type="text" id="salary" name="salary"><br>
            
            <div style="text-align: center;">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>

